.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: 25px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
}
.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: 35%;
    left: -4%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(255, 255, 255, 1) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    z-index: 10;
    opacity: 1;
}
